/*
	Colors
		blue logo: #6ccff6;
*/

/*style*/
.navbar-logo{
	margin-right: 20px;
}
#myNavbar{
	font-size: 11px;
}
.navbar{
	padding-left: 5%;
	padding-right: 5%;
}
.nopadding-navbar{
	padding: 0;
}

#form_login span{
	color: white;
}

/* Set black background color, white text and some padding */
footer{
	background-color: #555;
	color: white;
	padding: 15px;
}