					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Início</a></li>
					</ul>
							<!-- IF LOGADO 
							<input type="text" class="form-control" placeholder="Search..">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span> -->
					<form method="POST" id="form_login" action="controller/singin_adm.controller.php" class="navbar-form navbar-right" role="login">
						<div class="form-group input-group">
							<input name="email" placeholder="E-mail" type="email" required="true"/>
						   	<input name="senha" placeholder="Senha" required="true" type="password"/>
						   	<button id="bt_login" type="submit">Login</button>
							<span>Esqueceu a senha? Clique <a href="#">aqui</a></span>
						</div>
					</form>
					<!-- IF LOGADO 
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Minha conta</a></li>
					</ul> -->