
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-logo" href="index.php"><img src="img/logo_ambiento.png"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Início</a></li>
					</ul>
					<form method="POST" id="form_login" action="controller/singin_adm.controller.php" class="navbar-form navbar-right" role="login">
						<div class="form-group input-group">
							<input name="email" placeholder="E-mail" type="email" required="true"/>
						   	<input name="senha" placeholder="Senha" required="true" type="password"/>
						   	<button id="bt_login" type="submit">Login</button>
							<span>Esqueceu a senha? Clique <a href="#">aqui</a></span>
						</div>
					</form>
				</div>
			</div>
		</nav>
